@use 'variables';
@use 'mixins' as *;

.video {
  &-box {
    display: flex;
    align-items: stretch;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
  &-card {
    position: relative;
    overflow: hidden;
    width: calc(100% / 2 - 2.5rem);
    border-radius: variables.$cd-border-radius;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.8);
    .img {
      position: relative;
      height: 42.9rem;
      img {
        width: 100%;
        height: 100%;
      }
      .live {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        padding: 1rem 1.6rem;
        color: #fff;
        background: rgba(0, 0, 0, 0.42);
        border-radius: 3rem;
        padding-left: 3.2rem;
        backdrop-filter: blur(4px);
        font-size: 1.5rem;
        &::before {
          content: '';

          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: #e61859;
          position: absolute;
          left: 1.6rem;
          @include top-center;
        }
      }
      .camera-info {
        text-align: center;
        @include pos-center;

        img {
          height: auto;
          width: auto;
        }
        .b-tit {
          margin-top: 1rem;
        }
      }
    }
    .top-info {
      padding: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      .b-tit {
      }
      .desc {
        margin-top: 0.6rem;
      }
      .badge {
      }
    }
    .bottom-info {
      padding: 2rem;
      background: rgba(255, 255, 255, 0.1);
      .nav {
        &-btn-box {
        }
        &-btn {
        }
      }
    }
  }
}

//notice alarm
.notice {
  &-top {
    padding-bottom: 2rem;
    border-bottom: 1px solid #ffffff20;
  }
  &-box {
    z-index: 10;
    background: #1a181b;
    position: fixed;
    right: 0;
    top: 6rem;
    bottom: 0;
    padding: 3rem;
    height: 100vh;
  }
  .btn-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  &-lists {
    height: 82vh;
    overflow-y: auto;
    padding-top: 2.4rem;
    // 스크롤바 커스텀
    &::-webkit-scrollbar {
      width: 0.2rem;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f104;
    }

    &::-webkit-scrollbar-thumb {
      background: #ffffff0a;
      border-radius: 8px;

      &:hover {
        background: #999;
      }
    }

    &-item {
      background: #ffffff1a;
      padding: 2.4rem;
      border-radius: variables.$cd-border-radius;
      box-shadow: variables.$box-shadow;
      margin-top: 1.6rem;
      .s-tit {
        margin: 0.8rem 0 2.4rem;
      }
      .txt {
        width: 32rem;
        white-space: wrap;
      }
      .btn-view {
        margin-top: 2rem;
        border: 2px solid #ffffff21;
        color: #fff;
        font-size: 1.5rem;
        padding: 0.9rem 1.6rem;
        border-radius: 40px;
        img {
          margin-left: 0.4rem;
        }
      }
    }
  }
}
