@use 'variables';
@use 'mixins' as *;

.video-wrap {
  .video-box {
    display: flex;
    align-items: stretch;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
  .video-card {
    position: relative;
    overflow: hidden;
    // width: calc(100% / 2 - 2.5rem);
    width: 100%;
    border-radius: variables.$cd-border-radius;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.8);
    .video {
      position: relative;
      // height: 58rem;
      height: calc(100vh - 34rem);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
      video {
        max-width: 100%;
        max-height: 100%;
        width: auto !important;
        height: 100% !important;
        object-fit: contain;
      }
      .live {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        padding: 1rem 1.6rem;
        color: #fff;
        background: rgba(0, 0, 0, 0.42);
        border-radius: 3rem;
        padding-left: 3.2rem;
        backdrop-filter: blur(4px);
        font-size: 1.5rem;
        &::before {
          content: '';

          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: #e61859;
          position: absolute;
          left: 1.6rem;
          @include top-center;
        }
      }
      .camera-info {
        text-align: center;
        @include pos-center;

        img {
          height: auto;
          width: auto;
        }
        .b-tit {
          margin-top: 1rem;
        }
      }
    }
    .top-info {
      padding: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      .b-tit {
      }
      .desc {
        margin-top: 0.6rem;
      }
      .badge {
      }
    }
    .bottom-info {
      padding: 2rem;
      background: linear-gradient(to top, rgb(0 0 0), rgb(255 255 255 / 10%));
      position: absolute;
      bottom: 0px;
      width: 100%;
      transform: translateY(100%);
      opacity: 0;

      transition: transform 0.35s ease, opacity 0.25s ease;
      pointer-events: none;
      .nav {
        &-btn-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          &-left {
            display: flex;
          }
          &-right {
            display: flex;
          }
        }
        &-btn {
          // background: rgba(255, 255, 255, 0.1);
          border-radius: 0.4rem;
          width: 3.2rem;
          height: 3.2rem;
          margin-left: 1.2rem;
          @include flex-center;
          &.active {
            border: 1px solid #ffffffbd;
          }
        }
      }
    }
    &:hover {
      .bottom-info {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0.05s;
        pointer-events: auto;
      }
    }
    &.loading {
      pointer-events: none;
      &::before {
        content: 'Loading';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.55);

        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;

        padding-top: 15rem;
        font-weight: 500;
        z-index: 10;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;

        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        border: 1.1rem solid rgb(65, 13, 59);
        border-top-color: #f08300;

        transform: translate(-50%, -50%);
        animation: spin 0.9s linear infinite;

        z-index: 11;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

//notice alarm
.notice {
  &-top {
    padding-bottom: 2rem;
    border-bottom: 1px solid #ffffff20;
  }
  &-box {
    z-index: 10;
    background: #1a181b;
    position: fixed;
    right: 0;
    top: 6rem;
    bottom: 0;
    padding: 3rem;
    height: 100vh;
    display: none;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.open {
      display: block;
      pointer-events: auto;
      transform: translateY(0);
    }
  }
  .btn-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  &-lists {
    height: 82vh;
    overflow-y: auto;
    padding-top: 2.4rem;
    // 스크롤바 커스텀
    &::-webkit-scrollbar {
      width: 0.2rem;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f104;
    }

    &::-webkit-scrollbar-thumb {
      background: #ffffff0a;
      border-radius: 8px;

      &:hover {
        background: #999;
      }
    }

    &-item {
      background: #ffffff11;
      padding: 2.4rem;
      border-radius: variables.$cd-border-radius;
      box-shadow: variables.$box-shadow;
      margin-top: 1.6rem;
      .s-tit {
        margin: 0.8rem 0 2.4rem;
      }
      .txt {
        width: 32rem;
        white-space: wrap;
      }
      .btn-view {
        margin-top: 2rem;
        border: 2px solid #ffffff21;
        color: #fff;
        font-size: 1.5rem;
        padding: 0.9rem 1.6rem;
        border-radius: 40px;
        img {
          margin-left: 0.4rem;
        }
      }
    }
  }
}
