@use 'variables';
@use 'mixins' as *;

.container {
  width: 100%;
  padding: 0 4rem;

  @media (max-width: 1920px) {
  }
}
.mt-10 {
  margin-top: 1rem !important;
}
.mt-20 {
  margin-top: 2rem !important;
}
.mt-30 {
  margin-top: 3rem !important;
}
.mt-40 {
  margin-top: 4rem !important;
}
.mt-50 {
  margin-top: 5rem !important;
}

.mt-160 {
  margin-top: 16rem !important;
}

.mb-10 {
  margin-bottom: 1rem !important;
}
.mb-20 {
  margin-bottom: 2rem !important;
}
.mb-30 {
  margin-bottom: 3rem !important;
}
.mb-40 {
  margin-bottom: 4rem !important;
}
.mb-50 {
  margin-bottom: 5rem !important;
}

.ml-10 {
  margin-left: 1rem !important;
}
.ml-20 {
  margin-left: 2rem !important;
}
.ml-30 {
  margin-left: 3rem !important;
}
.ml-40 {
  margin-left: 5rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-10 {
  margin-right: 1rem !important;
}
.mr-20 {
  margin-right: 2rem !important;
}
.mr-30 {
  margin-right: 3rem !important;
}
.mr-40 {
  margin-right: 5rem !important;
}
.w-100 {
  width: 100% !important;
}
.wid-50 {
  width: 49% !important;
}

.w-auto {
  width: auto !important;
}
.bold {
  font-weight: 600 !important;
}

.flex-center {
  @include flex-center;
}
.flex-space {
  @include flex-spaceBtw;
}
.flex-space-center {
  @include flex-spaceBtwCenter;
}
.flex-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card-tit {
  color: #222;
  font-size: 2.2rem;
  font-weight: 600;
}
.title {
  font-size: 2.5rem;
  color: #fff;
}
.b-tit {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
.s-tit {
  color: #efefef;
  font-size: 1.6rem;
  font-weight: 400;
}
.tit {
  color: #515151;
  font-size: 1.6rem;
  font-weight: 500;
}
.desc {
  color: rgba(255, 255, 255, 0.697);
  font-size: 1.4rem;

  font-weight: 300;
}
.value {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.val {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}
.unit {
  color: #999;
  font-size: 1.4rem;
  font-weight: 400;
}
.img-box {
  img {
    width: 100%;
  }
}

.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center;
}
.col {
  color: variables.$primary-color !important;
}
.danger {
  color: variables.$red-color !important;
}
.green {
  color: variables.$green-color !important;
}

input {
  background: #fff;
  border-radius: variables.$btn-border-radius;
  border: 1px solid #ddd;
  color: #2e2e2e;
  height: 4.8rem;
  line-height: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #555;
  padding: 0 1.4rem;
  box-sizing: border-box;

  &::placeholder {
    letter-spacing: -0.1rem;
    color: #999;
    font-weight: 400;
  }
}

.header {
  width: calc(100% - 32rem);
  padding: 1.2rem 5rem;
  position: fixed;
  left: 32rem;
  top: 0;
  background: #ffffff17;
  backdrop-filter: blur(24px);
  z-index: 5;
  .select-box {
    select {
      height: 3.6rem;
      font-size: 1.5rem;
      padding: 0.8rem 1.2rem;
      border-radius: 0.6rem;
      outline: none;
      border: 1px solid #ffffff36;
      box-shadow: none;
      background: #555;
      color : #fff;
      padding-right: 4rem;
    }
  }
  .utill {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    button {
      &.user-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        color: #fff;
        font-size: 1.4rem;
        gap: 1rem;
      }
    }
  }
  .status {
    display: inline-block;
    background: rgba(146, 7, 131, 0.43);
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-radius: 3rem;
    font-size: 1.5rem;
  }
  &-tit {
    display: inline-block;
    font-size: 1.5rem;
    color: #ececec;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 2.8rem;
  }
  .select-platform {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    padding-left: 3rem;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 1.6rem;
      width: 1px;
      background: rgba(204, 204, 204, 1);
    }

    .desc {
    }
    .select-custom {
      background: rgba(255, 255, 255, 0.21);
      color: #fff;
    }
  }
}

.sidebar {
  background: variables.$second-color;
  height: 100%;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 100;

  position: fixed;
  left: 0;
  bottom: 0;
  .s-title {
    font-size: 1.8rem;
    // font-size: clamp(1.6rem, 0.5vw + 1.2rem, 2.2rem);
    font-weight: 300;
    color: rgba(255, 255, 255, 0.62);
    padding-bottom: 4rem;
    position: relative;
    &::after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.28);
    }
  }
  .logo {
    display: none;
  }
  &.open {
    width: 32rem;

    .submenu-close {
      display: none;
      &.block {
        display: none !important;
      }
    }
    .logo {
      display: block;
    }
  }

  &.closed {
    width: auto;
    overflow: visible;
    .menu {
      li {
        .menu-item {
          padding: 1rem;
        }
      }
    }
    .top {
      justify-content: center;
    }

    .txt {
      display: none;
    }
    i {
      margin-right: 0 !important;
    }

    .submenu {
      display: none; // 닫혔을 땐 뎁스 숨김
    }
  }

  .top {
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    padding: 4.5rem 3rem 0 3rem;
    margin-bottom: 3rem;
    position: relative;

    .logo {
      width: 16rem;
      img {
        width: 100%;
      }
    }

    .toggle-btn {
      background: transparent;
      border: none;
      color: white;
      font-size: 2.5rem;
      color: #fff;
      cursor: pointer;
    }
  }
  .menu {
    ul {
      list-style: none;
      padding: 0;

      li {
        position: relative;

        .menu-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.8rem 3rem 1.8rem 2.5rem;
          margin-bottom: 1rem;
          cursor: pointer;
          transition: background 0.2s;
          color: #cbd0de;
          font-size: 1.7rem;
          font-weight: 300;
          &:hover {
            background: #ffffff20;
          }
          &.active {
            font-weight: 500;
            color: variables.$primary-color;

            border-left: 5px solid variables.$primary-color;
          }
          p {
            img {
              vertical-align: middle;
              margin-right: 1.2rem;
            }
          }

          .arrow {
            font-size: 2rem;
            i {
              margin-right: 0;
            }
          }
        }

        .submenu {
          list-style: none;
          padding-left: 1.5rem;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
          &-close {
            position: absolute;
            left: 6rem;
            top: 0;
            box-shadow: variables.$box-shadow;
            background: #fff;
            border-radius: variables.$btn-border-radius;
            padding: 1.5rem 2rem;
            li {
              font-size: 1.7rem;
              color: #222;
              padding: 1rem 0;
            }
            &.block {
              display: block;
            }
            &.none {
              display: none;
            }
          }
          &.open {
            max-height: 50rem; // 충분히 크게 지정 (애니메이션)
          }

          li {
            padding: 2rem;
            font-weight: 400;
            cursor: pointer;
            color: #ccc;
            font-size: 1.8rem;

            &:hover {
              background: #ffffff1c;
            }
          }
        }
      }
    }
  }
}
.main {
  height: 100vh;
  width: 100%;
}
.top-box {
  .live {
    margin: 1.6rem 0;
    display: inline-block;
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      90deg,
      rgba(251, 251, 251, 0) 0%,
      rgba(255, 255, 255, 0.17) 100%
    );
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3) inset;
    border-radius: variables.$btn-border-radius;
    img {
      margin-right: 0.6rem;
      vertical-align: middle;
    }
  }
}
.dashboard {
  &-body {
    margin-left: 32rem;
    width: calc(100% - 32rem);
    padding-top: 7rem;

    padding-bottom: 5rem;

    background-image: url('../images/bg.png');
    /* 배경을 브라우저 화면에 고정 (스크롤해도 안 움직임) */
    background-attachment: fixed;

    background-size: cover;

    background-position: left center;

    background-repeat: no-repeat;

    /* 컨텐츠가 짧아도 최소 화면 높이만큼은 유지 */
    min-height: 100vh;
  }
  &-wrap {
    width: 100%;
  }
}

.select-area {
  margin-top: 3rem;
}
.gate-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff31;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
