@use 'variables';

@mixin flex {
  display: flex;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-spaceBtw {
  display: flex;
  justify-content: space-between;
}
@mixin flex-spaceBtwCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//transform center
@mixin top-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin left-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin pos-center {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

@mixin transition($property, $time: 0.3s) {
  transition: $property $time ease-in-out;
}

//버튼 스타일
@mixin button-style($bg-color, $color: #fff) {
  background-color: $bg-color;
  color: $color;
  padding: 0 2rem;
  border: none;
  border-radius: variables.$btn-border-radius;
  cursor: pointer;
  @include transition(all, 0.2s);
  &:hover {
    opacity: 0.8;
  }
}

@mixin button-border-style($bg-color) {
  border: 1px solid $bg-color;
  color: $bg-color;
  padding: 0 2rem;
  border-radius: variables.$btn-border-radius;
  cursor: pointer;
  @include transition(all, 0.2s);
  &:hover {
    opacity: 0.8;
  }
}
