// 색상
$primary-color: #f08300;
$second-color: #410d3b;
$text-color: #333;

$red-color: #f6335a;
$green-color: #09dc99;
$orange-color: #f08300;

// 간격
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$cd-pd: 2.5rem;

//border
$border: 0.1rem solid #eee;
$cd-border-radius: 1.4rem;
$btn-border-radius: 0.6rem;
$box-shadow: 0 2px 36px 6px rgba(0, 0, 0, 0.1);
